# Hackathon Project

Team Name: {{TEAM_NAME}}

## Problem Statement
Describe the problem you are solving.

## Solution
Explain your solution.

## Tech Stack
- Frontend:
- Backend:
- Database:

## How to Run
Instructions to run the project.